@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .primary-btn {
        @apply bg-primary border-[1px] border-primary hover:bg-transparent hover:text-primary cursor-pointer text-white font-semibold py-3 px-6 rounded-md hover:!scale-105 duration-300;
    }
    .primary-btn-outline {
        @apply bg-none border-[1px] border-primary hover:bg-primary hover:text-white cursor-pointer text-primary font-semibold py-2 px-4 rounded-md hover:!scale-105 duration-300;
    }
    .secondary-btn {
        @apply border-secondary text-secondary hover:bg-secondary hover:text-white cursor-pointer font-semibold py-3 px-6 rounded-md hover:!scale-105 duration-300;
    }
}

@layer utilities {
    .drop-shadow {
        filter: drop-shadow(-6px 8px 15px rgba(0, 0, 0, 0.2));
    }
}

.slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #1e7b48;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
